<a href="https://colab.research.google.com/github/winarsibidul03/PSDS_0.3/blob/main/M1P2V2_Variabel_dan_Tipe_Data_(WINARSI_J_BIDUL_2000015011)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NAMA : WINARSI J. BIDUL**

**NIM : 2000015011**

**KELAS DASAR**

# Variabel & Tipe Data

##Variabel

Variables: Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.
Syarat syarat penamaan variabel 
1.   Karakter karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan underscore.
2.   Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka 
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya 
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
# membuat variabel 
kalimat ='ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
# menampilkan variabel 
print(kalimat)
print(bilangan1)
print(bilangan2)

ini adalah variabel
4
2.5

Latihan 1

In [ ]:
# buatlah 5 variabel kalian sendiri dengan 5 macam tipe data 
# lalu tampilkan variabel menggunakan fungsi print

##Tipe Data

5 tipe data yaitu
1.   Integr atau bilangan bulat 
2.   Float atau bilangan desimal 
3. string atau kalimat 
4. Boolean yang terdiri dari True dan False 
5. Complex yang merupakan bilangan kompleks

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Latihan 2

In [ ]:
# cek tipe data variabel yang telah kalian buat pada latihan

##Konversi Tipe Data

syntax konversi tipe data
1.   Integer = int()
2.   Float = float()
3. String = str()
4. Boolean = bool()
5. Complex = Complex()

In [ ]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [ ]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [ ]:
# konversi tipe data string 
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [ ]:
# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [ ]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

Latihan 3

In [ ]:
# konversi tipe data yang telah kalian buat
# menjadi berbagai macam tipe data

# LATIHAN

##Latihan 1

In [ ]:
# buatlah 5 variabel kalian sendiri dengan 5 macam tipe data 
kalimat = '5 variabel dengan 5 macam tipe data'
variabel1 = 10
variabel2 = 3.4 
variabel3 = False
variabel4 = 2j + 3

In [ ]:
# tampilkan variabel menggunakan fungsi print
print(kalimat)
print(variabel1)
print(variabel2)
print(variabel3)
print(variabel4)

5 variabel dengan 5 macam tipe data
10
3.4
False
(3+2j)

##Latihan 2

In [ ]:
# cek tipe data variabel yang telah kalian buat pada latihan
print(type(kalimat))
print(type(variabel1))
print(type(variabel2))
print(type(variabel3))
print(type(variabel4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

## Latihan 3

In [ ]:
# konversi tipe data yang telah kalian buat
# menjadi berbagai macam tipe data

In [ ]:
# konversi tipe data integer
print(int(variabel1))
print(int(variabel2))
print(int(variabel3))

10
3
0

In [ ]:
# konversi tipe data float
print(float(variabel1))
print(float(variabel2))
print(float(variabel3))

10.0
3.4
0.0

In [ ]:
# konversi tipe data string 
print(str(kalimat))
print(str(variabel1))
print(str(variabel2))
print(str(variabel3))
print(str(variabel4))

5 variabel dengan 5 macam tipe data
10
3.4
False
(3+2j)

In [ ]:
# konversi tipe data bool
print(bool(kalimat))
print(bool(variabel1))
print(bool(variabel2))
print(bool(variabel3))
print(bool(variabel4))

True
True
True
False
True

In [ ]:
# konversi tipe data complex
print(complex(variabel1))
print(complex(variabel2))
print(complex(variabel3))
print(complex(variabel4))

(10+0j)
(3.4+0j)
0j
(3+2j)