<a href="https://colab.research.google.com/github/winarsibidul03/PSDS_0.3/blob/main/M2P1V3_Struktur_Data_Tuple_(Winarsi_J_Bidul_2000015011_Kelas_Dasar).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NAMA : WINARSI J. BIDUL**

**NIM : 2000015011**

**KELAS DASAR**


---

#Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah Tuple", T1)

Ini adalah Tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan tipe struktur data
type(T1)

tuple

##Latihan 1

In [ ]:
#Buatlah tuplemu Sendiri

B1 = (13, "empat", True, 3+4j)
print("Ini adalah Tuple", B1)

#Menampilkan tipe struktur data
type(B1)

Ini adalah Tuple (13, 'empat', True, (3+4j))

tuple

#Sifat Sifat Tuple

In [ ]:
#Terurut / Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak bisa diganti / Immutable
T1[2] = "manusia"

TypeError: ignored

In [ ]:
#Dapat Diindeks / Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [ ]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

#Menggabungkan Tuple

In [ ]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

##Latihan 2

In [ ]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat 

B2 = (3, 1.3, True, 2.2)
B2

(3, 1.3, True, 2.2)

In [ ]:
#Menggabungkan antara Tuple1 dan Tuple2
B3 = B1 + B2
B3

(13, 'empat', True, (3+4j), 3, 1.3, True, 2.2)